.venv
pract
Chinook_Sqlite.sqlite
client_server_app/logs
client_server_app/__pycache__

pract/lsn8
.vscode/launch.json

documentation client_server_app
server_database.db
client_test1.db3
client_test1.db3-journal
client_server_app/logs/logs/server/server
client_user1.db3
client_user2.db3
server_base.db3
client_server_app/client/__pycache__/__init__.cpython-310.pyc
client_server_app/client/__pycache__/add_contact.cpython-310.pyc
client_server_app/client/__pycache__/client_database.cpython-310.pyc
client_server_app/client/__pycache__/del_contact.cpython-310.pyc
client_server_app/client/__pycache__/main_window_conv.cpython-310.pyc
client_server_app/client/__pycache__/main_window.cpython-310.pyc
client_server_app/client/__pycache__/start_dialog.cpython-310.pyc
client_server_app/client/__pycache__/transport.cpython-310.pyc
client_server_app/common/__pycache__/descriptors.cpython-310.pyc
client_server_app/common/__pycache__/metaclasses.cpython-310.pyc
client_server_app/logs/__pycache__/client_log_config.cpython-310.pyc
client_server_app/logs/__pycache__/server_log_config.cpython-310.pyc
client_server_app/logs/__pycache__/client_log_config.cpython-310.pyc
client_server_app/logs/__pycache__/server_log_config.cpython-310.pyc
client_server_app/logs/client_log_config.py
client_server_app/logs/server_log_config.py
client_server_app/logs/__pycache__/client_log_config.cpython-310.pyc
client_server_app/logs/__pycache__/server_log_config.cpython-310.pyc
client_server_app/logs/logs/client/client
client_server_app/logs/logs/server/server
client_server_app/server/__pycache__/__init__.cpython-310.pyc
client_server_app/server/__pycache__/class_serverdb.cpython-310.pyc
client_server_app/common/__pycache__
